@model IEnumerable<Esmeraldaplus.Core.Domain.Produccion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadInsumos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadDeMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInsumosNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeProductosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadInsumos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadDeMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoProductoNavigation.EstadoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInsumosNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeProductosNavigation.IdTipoDeProductos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduccion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduccion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
