@model IEnumerable<Esmeraldaplus.Core.Domain.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/RegisterLogin1.cshtml";
}

@section Login {
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="../css/list_inventary.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/homepage.css">

}
<h1>Clietes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr> 
            <th>
                Id
            </th><th>
                Primer Nombre
            </th>
            <th>
                Segundo Nombre
            </th>
            <th>
                Primer Apellido
            </th>
            <th>
                SegundoApellido
            </th>
            <th>
                Direccion
            </th>
            <th>
                Correo Electronico
            </th>
            <th>
                Telefon
            </th>
            <th>
                Cod Telefon
            </th>
            <th>
                Roles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td><td>
                    @Html.DisplayFor(modelItem => item.PrimerNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodTelefonNavigation.CodTelefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolesNavigation.IdRoles)
                </td>
                <td>
                    <a class="crear" asp-action="Details" asp-route-id="@item.IdCliente">Detalles</a>
                    <a class="actualizar" asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> 
                    <a class="borrar" asp-action="Delete" asp-route-id="@item.IdCliente">Borrar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
